<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
    <div id="todos-container" class="todos-container">
        <div class="container">
            <div class="todo-title">To Do</div>
                <div class="todos-input-container">
                    <div  class="todos-input"><input id="new-todo-input" type="text"></div>
                    <div id="add-todo-btn" class="add-todos-input"><input type="button" value="+"></div>
                </div>
            
                <div class="todos-list-container">
                    <div class="checkbox-todos"><input type="checkbox" name="" id="">     </div>
                    <div class="show-todos"></div>
                    <div class="close-todos"><input type="button" value="X"></div>
                </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>